<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.ArticleMapper">

    <insert id="insertOne" parameterType="Article">
        insert into article(writerId, topic, title, content) values(#{writerId}, #{topic}, #{title}, #{content});
    </insert>
    <insert id="insertComment" parameterType="Comment">
        insert into articleComments(articleNo, writerId, comments) values(#{articleNo}, #{writerId}, #{comments});
    </insert>




    <select id="selectAll" resultType="Article">
        select * from article order by wroteAt desc
    </select>
    <select id="selectArticlesByPage" resultType="Article" parameterType="int">
        select * from article order by wroteAt desc limit 10 offset #{offset}
    </select>

    <select id="selectByTopic" resultType="Article" parameterType="string">
        select * from article where topic=#{topic}
    </select>
    <select id="selectByNo" resultType="Article" parameterType="int">
        select * from article where no=#{no}
    </select>

    <select id="selectByKeyword" parameterType="map" resultType="Article">
        select * from article where title like #{keyword} or content like #{keyword} order by wroteAt desc limit 10 offset #{offset};
    </select>
    <select id="selectByLike" resultType="Article" parameterType="string">
        select * from article where title like #{keyword} or content like #{keyword} order by wroteAt desc
    </select>
    <select id="selectTop5Likes" resultType="Article" parameterType="java.time.LocalDateTime">
        select * from article
            where likeCnt > 0
            and wroteAt > #{date}
            ORDER BY likeCnt DESC LIMIT 5;
    </select>

    <select id="countPost" resultType="PostById">
        select writerId, count(*) as cnt from article group by writerId order by cnt desc limit 5;
    </select>

    <select id="selectAllComments" parameterType="int" resultType="Comment">
        select * from articleComments where articleNo=#{articleNo} order by writingTime desc;
    </select>



    <update id="increaseCommentCntByArticleNo" parameterType="int">
        update article set commentCnt=commentCnt+1 where no=${no};
    </update>
    <update id="increaseViewCnt" parameterType="int">
        update article set viewCnt=viewCnt+1 where no=${no};
    </update>
    <update id="increaseLikeCnt" parameterType="int">
        update article set likeCnt=likeCnt+1 where no=${no};
    </update>
    <update id="decreaseLikeCnt" parameterType="int">
        update article set likeCnt=likeCnt-1 where no=${no};
    </update>
    <update id="updateArticle" parameterType="Article">
        update article set topic=#{topic}, title=#{title}, content=#{content} where no=#{no}
    </update>



    <delete id="deleteByArticleByNo" parameterType="int">
        delete from article where no=#{no}
    </delete>


</mapper>